{% extends "layout.html" %}

{% block title %}home{% endblock title %}

{% block content %}


<p>hello {{steam_id}}</p>

<p>recently played</p>

{%if games_list%}

<ol>
    {%for game in games_list%}
    <li>{{game.name}}</li>
    {%endfor%}
<ol>

{%else%} <p> You haven't played anything recently </p>
{% endif %}



<a href="{% url "landing_page" %}"><button class="submit-btn" id="submit">go back to landing</button></a>


<a href="{% url "games_list" %}"><button class="submit-btn" id="submit">go to games list</button></a>
<a href="{% url "games_achievements" %}"><button class="submit-btn" id="submit">go to games achievements</button></a>

{% endblock %}